.page.theme_dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --subtitle-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --decorated-color: #ff0070;
  --text-color: #f1b2ce;
  --text-shadow: #ff0070;
  --button-hover: rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --subtitle-color: #000028;
    --title-color: #db00ff;
    --accent-color: #ff0070;
    --decorated-color: #ff0070;
    --text-color: #f1b2ce;
    --text-shadow: #ff0070;
    --button-hover: rgba(255, 0, 112, 0.4);
  }
  .theme_dark .rec {
    visibility: visible;
  }
}

.theme_dark .rec {
  visibility: visible;
}
