:root .theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --accent-color: #353430;
  --text-color: #353430;
  --decorated-color: #ff8dcb;
  --bg-color: #fff1f7;
}

.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --accent-color: #353430;
  --text-color: #353430;
  --decorated-color: #ff8dcb;
  --bg-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root .page {
    --bg-image: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --accent-color: #353430;
    --text-color: #353430;
    --decorated-color: #ff8dcb;
    --bg-color: #fff1f7;
  }
}

.page.theme_light .rec {
  display: none;
}
